<body class="body-bg">
    <div class="login-bx">
        <div class="login-page">
            <div class="login-container" id="lg-cn">
                <form calss="fr-log">
                    <h2 class="font-fm log-al">Login</h2>
                    <label class="font-fm, inst-al" for="institution">Institution</label>
                    <select class="inst-drp-fm" id="institution">
                        <option value="">Select One</option>
                        <option value="PUL">Princeton</option>
                        <option value="CUL">Columbia</option>
                        <option value="NYPL">New York Public Library</option>
                        <option value="HTC">HTC</option>
                    </select>
                    <br>
                    <div class="btn-alin">
                        <button (click)="goToPage()" class="btn-sb">Submit</button>
                        <a href="" class="tch-aln">Get in touch with us</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>