<body>
    <div class="search-page">
        <div class="search-header">
            <div class="recap-logo">ReCAP</div>
            <div class="vr-line"></div>
            <div class="recap-text-aln">
                The Research Collections And<br />
            </div>
            <div class="text-cons-align"> Preservation Consortium
            </div>
        </div>
    </div>
    <div class="dashboard-content">
        <div calss="content-tabs">
            <ul class="list-tabs">
                <li type = "button" class="tab-search" (click)=" getSearch()">Search</li>
                <li class="tab-collection">Collection</li>
            </ul>
        </div>
    </div>
    <div>
        <p>{{data | json}}</p>
    </div>
</body>